h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-pt-serif);
  color: var(--title-color);
  font-weight: bold;
  margin-bottom:22px;
  font-weight: 600;
  line-height: 1.2;

  @media (max-width: $screen-lg-max) {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  @media (max-width: $screen-md-max) {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  @media (max-width: $screen-sm-max) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

h1 {
  font-size: clamp(36px, 5vw + 1rem, 54px);
}

h2 {
  font-size: clamp(32px, 4vw + 1rem, 48px);
}

h3 {
  font-size: clamp(28px, 3vw + 1rem, 36px);
}

h4 {
  font-size: clamp(16px, 2vw + 1rem, 20px);
}

p, label, input, button, ::placeholder, textarea {
  font-family: var(--epilogue-variable);
  color: var(--paragraph-color);
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 400;
}
p {
  margin-bottom:22px;
}


/* List styles */
ul {
  font-family: var(--epilogue-variable);

  list-style: disc;
  font-size: clamp(14px, 2vw, 18px);

  color: var(--paragraph-color);

  li {
    font-family: var(--epilogue-variable);
    list-style-position: inside;
    margin-bottom: 0.5rem;
    color: var(--paragraph-color);
  }
}

/* Link styles */
a {
  font-family: var(--epilogue-variable);
  color: var(--link-color);
}

/* Strong and emphasis styles */
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
