// ----------------------- MAIN COLORS ----------------------- //

:root {
  //colors
  --title-color: black;
  --paragraph-color: rgb(53, 53, 53);
  --link-color: black;
  --bg-color1: #F6F6F8;
  --bg-color2: #f8f8f8;
  --bg-color3: #ececec;
  --bg-color4: #ececec;
  --half-color: rgb(194, 194, 194);


  // buttons
  --button-border-radius: 32px;
  --button-primary-hover-color: black;
  --button-primary-text-color: white;

  --button-secondary-color: red;
  --button-secondary-text-color: white;
  --button-secondary-hover-color: darkred;

  --button-outline-color: black;
  --button-outline-text-color: rgb(255, 255, 255);
}

html.dark {
  --title-color: white;
  --paragraph-color: rgb(192, 192, 192);
  --link-color: white;
  --bg-color1: rgb(10, 9, 10);
  --bg-color2: #0f0f0f;
  --bg-color3: #1a1a1a; //menu bg
  --bg-color4: #1a1a1a; //bg line
  --half-color: rgb(58, 58, 58);


  --button-outline-color: white;
  --button-outline-text-color: rgb(0, 0, 0);

}



//fonts are in the _typography.scss

// ----------------------- SIZES ----------------------- //

$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1199px;
$screen-xl-max: 1340px;
$screen-xxl-max: 1400px;

$container: 720px;
.container-width {
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
}
.container-xl-width {
  max-width: $screen-md-max;
  margin-left: auto;
  margin-right: auto;
}