// ----------------------- MAIN COLORS ----------------------- //

:root {
  //colors
  --title-color: black;
  --paragraph-color: rgb(34, 34, 34);
  --link-color: black;
  --bg-color1: white;
  --bg-color2: #ffffff;
  --bg-color3: #e2e2e2;

  // buttons
  --button-border-radius: 32px;
  --button-primary-hover-color: black;
  --button-primary-text-color: white;

  --button-secondary-color: red;
  --button-secondary-text-color: white;
  --button-secondary-hover-color: darkred;

  --button-outline-color: white;
  --button-outline-text-color: white;
}

html.dark {
  --title-color: white;
  --paragraph-color: rgb(207, 207, 207);
  --link-color: white;
  --bg-color1: black;
  --bg-color2: #212121;
  --bg-color3: #313131;
}



//fonts are in the _typography.scss

// ----------------------- SIZES ----------------------- //

$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1199px;
$screen-xl-max: 1340px;
$screen-xxl-max: 1400px;

$container: 720px;
