.hero-basic {
  background: linear-gradient(to right, #01070c, #060e16);
  transition: color 0s;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //stars
    background-image: radial-gradient(
        0.5px 0.5px at 213px 167px,
        rgba(255, 255, 255, 0.15) 50%,
        transparent
      ),
      radial-gradient(
        0.8px 0.8px at 87px 423px,
        rgba(255, 255, 255, 0.2) 50%,
        transparent
      ),
      radial-gradient(
        1px 1px at 342px 187px,
        rgba(255, 255, 255, 0.35) 50%,
        transparent
      ),
      radial-gradient(
        0.4px 0.4px at 156px 293px,
        rgba(255, 255, 255, 0.1) 50%,
        transparent
      ),
      radial-gradient(
        0.7px 0.7px at 432px 127px,
        rgba(255, 255, 255, 0.15) 50%,
        transparent
      ),
      radial-gradient(
        0.6px 0.6px at 267px 346px,
        rgba(255, 255, 255, 0.1) 50%,
        transparent
      ),
      radial-gradient(
        0.9px 0.9px at 178px 234px,
        rgba(255, 255, 255, 0.4) 50%,
        transparent
      ),
      radial-gradient(
        0.5px 0.5px at 389px 412px,
        rgba(255, 255, 255, 0.15) 50%,
        transparent
      ),
      radial-gradient(
        0.8px 0.8px at 123px 321px,
        rgba(255, 255, 255, 0.1) 50%,
        transparent
      ),
      radial-gradient(
        0.6px 0.6px at 456px 276px,
        rgba(255, 255, 255, 0.15) 50%,
        transparent
      ),
      radial-gradient(
        0.7px 0.7px at 245px 178px,
        rgba(255, 255, 255, 0.3) 50%,
        transparent
      ),
      radial-gradient(
        0.4px 0.4px at 367px 345px,
        rgba(255, 255, 255, 0.15) 50%,
        transparent
      );
    background-repeat: repeat;
    background-size: 500px 500px;
  }
  &.light-background {
    background: transparent;
    .grouper {
      background-size: 0px;
    }
  }
  @media (max-width: $screen-md-max) {
    padding-top: 104px;
  }
  .grouper {
    // border-left: 8px dotted var(--bg-dark-gray);
    padding: 80px 40px 40px 40px;
    margin: 0px 23px 0 23px;
    position: relative;
    max-width: $container;
    left: 50%;
    transform: translate(-50%, 0%);
    background-image: linear-gradient(
      to bottom,
      var(--bg-dark-gray) 20%,
      transparent 20%
    );
    background-position: left center;
    background-size: 4px 24px;
    background-repeat: repeat-y;
    @media (max-width: $screen-md-max) {
      padding-top: 80px;
      transform: translate(0, 0);
      left: 0;
      padding: 24px 0 0 24px;
      margin: 0px 24px 0px 32px;
    }
    .project-header {
      padding-top: 2em;
    }
    .dot-group {
      height: auto;
      width: auto;
      position: absolute;
      left: -18px;
      top: 144px;
      display: flex;
      @media (max-width: $screen-md-max) {
        left: -24px;
        top: 80px;
      }
      .dot {
        background: var(--primary-color);

        border-radius: 50%;
      }
      .dot-large {
        height: 14px;
        width: 14px;
        margin-left: 8px;
      }
      .dot-medium {
        height: 10px;
        width: 10px;
        opacity: 50%;
        margin-top: 26px;
        margin-left: -5px;
      }
      .dot-small {
        height: 8px;
        width: 8px;
        opacity: 20%;
        margin-top: 16px;
        margin-left: 0px;
      }
    }
  }
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: twinkle 2s infinite alternate;
}
@keyframes twinkle {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.2);
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.5);
  }
}
