.project-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 4px;
  border-radius: 10px;
  @media (max-width: $screen-xxxl-max) {
    height: 480px;
  }
  .text-sm {
    color: var(--primary-color);
  }
  &__text {
    text-align: left;
    color: black;
    padding: 1em;
    display: block;
  }
  &__title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 0.3em;
    font-family: var(--epilogue-variable);
  }
  &__sub-title {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0.3em;
    color: rgb(71, 71, 71);
  }
  &__arrow {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    // background-color: var(--primary-color);
    position: absolute;
    top: auto;
    bottom: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tag-container {
    display: flex;
    gap: 8px;
    position: absolute;
    top: 8px;
    right: 8px;
    .tag {
      color: black;
      font-size: 13px;
      font-weight: 500;
      background-color: white;
      padding: 8px 16px;
      border-radius: 12px;
    }
  }
  //desktop only (reverse media query
  @media (min-width: $screen-md-max) {
    &:hover img {
      transform: scale(1.04);
    }
  }
  .img-container {
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    height: 260px;

    img {
      transition: all 0.3s ease-in-out;
      object-fit: cover;
      display: block;
      height: 100%;
    }
  }

  cursor: pointer;
}
