section.services {
  max-width: $container;
  margin: 0 auto;
  display: block;
  padding-top: 64px;
  padding-bottom: 200px;
  @media (max-width: $screen-md-max) {
    padding-bottom: 80px;
    margin-left: 16px;
    border: none;
    padding-top: 80px;
    overflow: hidden;
  }
  .side-image {
    position: absolute;
    width: 200px;
    right: 0px;
    top: 64px;
    transition: all 0.6s ease-out;
    will-change: transform;
    z-index: 1;
    animation: upDown 5s cubic-bezier(0.45, 0, 0.55, 1) infinite;
    @media (max-width: $screen-md-max) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  .main-image {
    position: relative;
    width: 180%;
    margin-left: -40%;
    margin-top: -100px;
    min-height: 1375px;
    right: auto;
    border-radius: 600px;
    background: radial-gradient(circle, rgb(0, 2, 15) 63%, transparent 70%);
    img {
      width: 100%;
    }
    @media (max-width: $screen-md-max) {
      min-height: 841.5px;
      overflow: hidden;
      width: 200%;
      margin-left: -10%;
    }
  }

  .content-bottom {
    position: relative;
    opacity: 0;
    margin-top: -1224px;
    padding: 2em 2em 2em 0em;
    @media (max-width: $screen-md-max) {
      margin-top: -720px;
      padding: 2em;
    }
  }
  .icon-card {
    border-radius: 8px;
    padding-top: 0;
    border: 1px solid #232630;
    backdrop-filter: blur(10px);
    padding: 1em 1.5em;
    * {
      font-size: 16px;
    }
    &__icon {
      height: 72px;
      object-fit: contain;
      @media (max-width: $screen-md-max) {
        height: 40px;
      }
    }
    @media (max-width: $screen-md-max) {
      display: flex;
      padding-top: 1em;
      gap: 1.5em;
      p {
        margin-bottom: 0;
        font-size: 14px;
      }
    }
  }
}

@keyframes upDown {
  0%,
  100% {
    top: 30px;
    animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
  }
  50% {
    top: 45px;
    animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
  }
}
