.dark-bg {
  // background: linear-gradient(to right, #01070c, #060e16);
  width: 100%;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(
        0.5px 0.5px at 147px 324px,
        rgba(255, 255, 255, 0.15) 50%,
        transparent
      ),
      radial-gradient(
        0.8px 0.8px at 278px 156px,
        rgba(255, 255, 255, 0.2) 50%,
        transparent
      ),
      radial-gradient(
        1px 1px at 412px 289px,
        rgba(255, 255, 255, 0.35) 50%,
        transparent
      ),
      radial-gradient(
        0.4px 0.4px at 189px 445px,
        rgba(255, 255, 255, 0.1) 50%,
        transparent
      ),
      radial-gradient(
        0.7px 0.7px at 367px 123px,
        rgba(255, 255, 255, 0.15) 50%,
        transparent
      ),
      radial-gradient(
        0.6px 0.6px at 89px 234px,
        rgba(255, 255, 255, 0.1) 50%,
        transparent
      ),
      radial-gradient(
        0.9px 0.9px at 445px 378px,
        rgba(255, 255, 255, 0.4) 50%,
        transparent
      ),
      radial-gradient(
        0.5px 0.5px at 234px 167px,
        rgba(255, 255, 255, 0.15) 50%,
        transparent
      ),
      radial-gradient(
        0.8px 0.8px at 378px 289px,
        rgba(255, 255, 255, 0.1) 50%,
        transparent
      ),
      radial-gradient(
        0.6px 0.6px at 156px 412px,
        rgba(255, 255, 255, 0.15) 50%,
        transparent
      ),
      radial-gradient(
        0.7px 0.7px at 289px 78px,
        rgba(255, 255, 255, 0.3) 50%,
        transparent
      ),
      radial-gradient(
        0.4px 0.4px at 123px 345px,
        rgba(255, 255, 255, 0.15) 50%,
        transparent
      );
    background-repeat: repeat;
    background-size: 500px 500px;
  }
}
section.services {
  max-width: $container;
  margin: 0 auto;
  display: block;
  padding-top: 64px;
  padding-bottom: 200px;
  //stars
  
  @media (max-width: $screen-md-max) {
    padding-bottom: 80px;
    margin-left: 16px;
    border: none;
    padding-top: 80px;
    overflow: hidden;
  }
  .side-image {
    position: absolute;
    width: 200px;
    right: 0px;
    top: 64px;
    transition: all 0.6s ease-out;
    will-change: transform;
    z-index: 1;
    animation: upDown 5s cubic-bezier(0.45, 0, 0.55, 1) infinite;
    @media (max-width: $screen-md-max) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  .main-image {
    position: relative;
    width: 180%;
    margin-left: -40%;
    margin-top: -100px;
    min-height: 1375px;
    right: auto;
    border-radius: 600px;
    img {
      width: 100%;
    }
    @media (max-width: $screen-md-max) {
      min-height: 841.5px;
      overflow: hidden;
      width: 200%;
      margin-left: -10%;
    }
  }
  .content-bottom {
    position: relative;
    opacity: 1;
    margin-top: -1224px;
    padding: 2em 2em 2em 0em;
    .content-group {
      max-width: 540px;
    }
    @media (max-width: $screen-md-max) {
      margin-top: -720px;
      padding: 2em 16px 2em 0em;
    }
  }
  .icon-card {
    border-radius: 8px;
    padding-top: 0;
    backdrop-filter: blur(10px);
    background-color: rgb(6 13 22);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    @media (max-width: $screen-md-max) {
      align-items: flex-start;
    }
    //reverse media query
    @media (min-width: $screen-md-max) {
      &:hover {
        outline: 1px solid rgb(240, 240, 240);
      }
    }

    * {
      text-align: center;
      @media (max-width: $screen-md-max) {
        text-align: unset;
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: 12px;
      font-weight: 500;
      font-family: var(--epilogue-variable);
      color: var(--primary-color);
    }
    p {
      font-size: 16px;
    }
    &__icon {
      height: 72px;
      object-fit: contain;
      margin-bottom: 1em;
      @media (max-width: $screen-md-max) {
        height: 40px;
        margin-top: 18px;
      }
    }
    @media (max-width: $screen-md-max) {
      flex-direction: row;
      padding-top: 1em;
      gap: 1.5em;
      p {
        margin-bottom: 0;
        font-size: 14px;
      }
    }
  }
}

@keyframes upDown {
  0%,
  100% {
    top: 30px;
    animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
  }
  50% {
    top: 45px;
    animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
  }
}
