.text-image {
  overflow: hidden;
  @media (max-width: $screen-xxxl-max) {
    padding-top: 40px;
  }
  .content-wrapper {
    display: flex;
    max-width: $container-full;
    margin-left: auto;
    margin-right: auto;
    border-radius: 32px;
    padding-top: 40px;
    padding-bottom: 120px;
    margin: 0 16px;
    @media (max-width: $screen-xxxl-max) {
      // padding: 80px 32px 80px 32px;
      gap: 64px;
    }
    @media (max-width: $screen-md-max) {
      flex-direction: column;
    }
    &.mirrored {
      flex-direction: row-reverse;
    }
    .image-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      .dot-group {
        height: auto;
        width: auto;
        position: absolute;
        right: 12px;
        top: -20px;
        display: flex;
        @media (max-width: $screen-md-max) {
          right: 8px;
          top: -8px;
        }
        .dot {
          background-color: #f7a900;

          border-radius: 50%;
        }
        .dot-large {
          height: 32px;
          width: 32px;
          @media (max-width: $screen-md-max) {
            height: 16px;
            width: 16px;
          }
        }
        .dot-medium {
          height: 24px;
          width: 24px;
          opacity: 50%;
          margin-top: 25px;
          margin-left: -3px;
          @media (max-width: $screen-md-max) {
            height: 12px;
            width: 12px;
          }
        }
        .dot-small {
          height: 20px;
          width: 20px;
          opacity: 20%;
          margin-top: 10px;
          margin-left: 6px;
          @media (max-width: $screen-md-max) {
            height: 10px;
            width: 10px;
          }
        }
      }
      img {
        z-index: 1;
      }
    }
    .text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
