.approach-module {
  .intro-text {
    max-width:720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    @media (max-width: $screen-md-max) {
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  .approach-container {
    @media (max-width: $screen-md-max) {
      margin-left: 16px;
    }
    position: relative;
    @media (max-width: $screen-md-max) {
    }
    &:after {
      position: absolute;
      content: "";
      width: 130%;
      left: -15%;
      top: 46px;
      z-index: -1;
      height: 1px;
      background-color: var(--bg-color3);
      @media (max-width: $screen-md-max) {
        width: 100%;
      }
    }
  }
}
