section.hero-module {
  max-width: $container;
  margin: 0 auto;
  display: block;
  padding-top: 180px;
  margin-bottom: 80px;
  border-left: 1px solid var(--bg-color4);
  @media (max-width: $screen-md-max) {
    margin-left: 16px;
    border: none;
    padding-top: 80px;
    overflow: hidden;
  }
  .dot {
    content: "";
    height: 7px;
    width: 7px;
    position: absolute;
    left: -3px;
    top: 324px;
    background-color: orangered;
    border-radius: 50%;
    @media (max-width: $screen-md-max) {
      top: 200px;
      left: 0;
    }
  }
  .content-top {
    max-width: $container;
    z-index: 1;
    position: relative;
    padding: 2em;
    .button-container {
      margin-top: 2em;
    }
    @media (max-width: $screen-md-max) {
      max-width: 100%;
    }
  }
  .side-image {
    position: absolute;
    width: 200px;
    right: calc(50% - 600px);
    top: -260px;
    transition: opacity 0.5s ease;
    // animation: moveBackForth 10s ease-in-out infinite;
    @media (max-width: $screen-md-max) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  // @keyframes moveBackForth {
  //   0% {
  //     transform: translateX(0) translateY(0); /* Start position */
  //   }
  //   50% {
  //     transform: translateX(32px) translateY(-32px); /* Midway (to the right and up) */
  //   }
  //   100% {
  //     transform: translateX(0) translateY(0); /* Back to start position */
  //   }
  // }
  .main-image {
    position: relative;
    width: 170%;
    margin-left: -35%;
    margin-top: -100px;
    min-height: 1375px;
    right: auto;
    img {
      width: 100%;
    }
    @media (max-width: $screen-md-max) {
      min-height: 841.5px;
      overflow: hidden;
      width: 200%;
      margin-left: -10%;
    }
  }

  .content-bottom {
    // display:none;
    position: relative;
    margin-top: -900px;
    padding: 2em;
    @media (max-width: $screen-md-max) {
      margin-top: -600px;
    }
    &:before {
      content: "";
      height: 7px;
      width: 7px;
      position: absolute;
      left: -3px;
      top: calc(92px);
      background-color: orangered;
      border-radius: 50%;
      @media (max-width: $screen-md-max) {
        top: 70px;
        left: 0;
      }
    }
  }
  .icon-card {
    border: 1px solid var(--half-color);
    border-radius: 8px;
    padding: 1em;
    padding-top: 0;
    * {
      font-size: 16px;
    }
    &__icon {
      height: 72px;
      object-fit: contain;
      @media (max-width: $screen-md-max) {
       height:32px;
      }
    }
    @media (max-width: $screen-md-max) {
      display: flex;
      padding-top: 1em;
      gap: 1.5em;
      p {
        margin-bottom: 0;
        font-size: 14px;
      }
    }
  }
}
