section.hero-module {
  max-width: $container;
  margin: 0 auto;
  display: block;
  padding-top: 64px;
  .content-top {
    position: relative;
    max-width: $container;
    z-index: -1;
    position: fixed;
    padding: 2em;
    border-left: 1px solid var(--bg-color3);
    // transition: filter 0.3s ease, transform 0.3s ease, opacity 0.3s ease;

    &:before {
      content: "";
      height: 7px;
      width:7px;
      position: absolute;
      left:-3px;
      top:calc(65px + 30px + 32px);
      background-color:orangered;
      border-radius: 50%;
    }
    .button-container {
      margin-top: 2em;
    }
  }
  .image {
    // transition: 10s ease;
  }
  .side-image {
    position: fixed;
    width: 300px;
    right: calc(50% - 500px);
    opacity: 50%;
    top: 240px;
    img {
      width: 100%;
    }
  }
  .main-image {
    position: relative;
    margin-top: 340px;
    width: 170%;
    min-height: 800px;
    margin-left: -35%;
    right:auto;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .content-bottom {
    transform: translateY(-500px);
  }
}
