footer {
  background: #f6f6f8;

  .top-footer {
    @media (max-width: $screen-md-max) {
      place-items: start;
      .contact-text {
        padding-left: 24px;
      }
    }
    * {
      color: black;
      h1,
      h2,
      h3,
      h4 {
        color: var(--primary-color);
      }
      p {
        @media (max-width: $screen-md-max) {
          margin-bottom: 8px;
        }
      }
    }
    .dynamic-form {
      * {
        text-align: left;
        input,
        textarea {
          color: black;
        }
      }
    }
    .w-half {
      width: calc((100% - 1rem) / 2);
    }
    button {
      color:white!important;
    }
  }

  .bottom-footer {
    border-top: 1px solid var(--bg-color3);
    * {
      font-size: 16px;
      color: black;
    }
   
  }
}
