footer {
  background-color: #f77769;

  .top-footer {
    * {
      @media (max-width: $screen-md-max) {
        text-align: center;
      }
      color: black;
    }
    .dynamic-form {

      * {
        text-align: left;
      }
    }
    .w-half {
      width: 100%;
    }
  }

  .bottom-footer {
    border-top: 1px solid var(--bg-color3);
    * {
      font-size: 16px;
      color:black;
    }
  }
}
