footer {
  @media (max-width: $screen-md-max) {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 80px;
   }
  .bottom-footer {
    border-top: 1px solid var(--bg-color3);
    * {
      font-size: 16px;
    }
  }
}